.main {
  position: absolute;
  top: 40px; /* Header Height */
  bottom: 20px; /* Footer Height */
  width: 100%;
}
.age-child{
    background-color:yellow !important;
}
.age-adolescence {
  background-color: lightgreen !important;
}
.age-adult {
  background-color: #ffcccb !important;
}
.age-senior-adult {
  background-color: lightgray !important;
}
